/*------------------------------------*\
    styles
\*------------------------------------*/



.articles {
    display: block;
    max-width: 640px;
    margin: 0 auto;


    hr {
        display: block;
        height: 1px;
        background-color: rgba(black,.15);
        margin: 160px 30% 100px 30%;
    }
}


    .articles__single {
        display: block;
        padding-top: 160px;
        padding-bottom: 60px;
    }



    .articles__time {
        font-family: "Karla", sans-serif;
        font-size: 16px;
        color: rgba(black,.5);
    }






    .articles__title {
        display: block;
        font-family: "Karla", sans-serif;
        font-size: 50px;
        margin: 15px 0 25px 0;
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 700;

        transform: scale(1);
        transition: transform 150ms ease-out;

        &:hover {
            transform: scale(1.07);
        }

        div {
        }

        &:hover div {
            animation: swing 500ms linear 0ms infinite;
        }
    }

    .articles__desc {
        margin-top: 20px;
        letter-spacing: .7px;
        color: rgba(black,.5);
        font-size: 18px;

    }



/*------------------------------------*\
    states
\*------------------------------------*/




/*------------------------------------*\
    media-queries
\*------------------------------------*/

