/*------------------------------------*\
    variables
\*------------------------------------*/

$font-heading: "Karla", sans-serif;


$font-body: "Work Sans", sans-serif;
$size-body: 20px;
$line-height-body: 1.4;
$color-body: rgb(50,50,50);




/*------------------------------------*\
    styles
\*------------------------------------*/

.blog {
    //background-color: rgb(248,248,248);
}


.blog__normal-flow {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.blog__widescreen-flow {
    margin: 80px 0;
}



.blog__content {

    h1 {
        font-weight: 700;
        font-family: $font-heading;
        font-size: 40px;
        margin: 100px 0 20px 0;

    }

    h2 {
        font-weight: 700;
        font-family: $font-heading;
        font-size: 30px;
        margin: 100px 0 20px 0;
    }


    h3,
    h4,
    h5,
    h6
    {
        font-weight: 700;
        font-family: $font-heading;
        font-size: 25px;
        margin: 50px 0 20px 0;

    }

    p {

        a { @include cool-underline(gray, gray, white); }


        font-family: $font-body;
        font-size: $size-body;
        line-height: $line-height-body;
        color: $color-body;
        margin: 20px 0 20px 0;


    }


    img {
        max-width: 100%;
    }



    aside {

        a { @include cool-underline(gray, gray, white); }


        font-family: $font-body;
        position: absolute;
        left: -280px;
        font-size: 16px;
        width: 250px;
        text-align: right;
        padding-top: 3px;
        opacity: .5;

        //transition: opacity 300ms ease-in-out;
        //&:hover {
        //opacity: .8;
        //}

    }


    code {
        font-family: "Ubuntu Mono", monospace, monospace;
        background-color: rgb(240,240,240);
        padding: 0 5px;
        border-radius: 2px;
        font-size: $size-body;
    }


    li {
        @extend p;
    }

    ul {
        margin-left: 30px;
    }

}




/*------------------------------------*\
    states
\*------------------------------------*/




/*------------------------------------*\
    media-queries
\*------------------------------------*/


