/*------------------------------------*\
    styles
\*------------------------------------*/

#disqus_thead_container {
    padding-top: 100px;
    border-top: 1px solid rgba(black,.05);
}


#disqus_thread {
    max-width: 640px;
    margin: 0 auto;

}




/*------------------------------------*\
    states
\*------------------------------------*/




/*------------------------------------*\
    media-queries
\*------------------------------------*/

