/*------------------------------------*\
    block:
\*------------------------------------*/
.header {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 70px 0 70px 0;
}

.header__title {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    color: rgba(black,.8);
}

.header__under-title {
    display: block;
    margin-top: 10px;
}

.header__social {
    position: relative;
    display: inline-block;
    font-size: 19px;
    line-height: 20px;
    color: rgba(black,.5);
    vertical-align: middle;
    transition: color 200ms ease-out;

    &:hover {
        color: rgba(black,.7);
    }

    margin: 0 5px;

    &.social-dribbble {
        font-size: 18px;
    }
    &.social-behance {
        font-size: 21px;
    }


    &.social-twitter:hover {
        color: #55acee;
    }

    &.social-dribbble:hover {
        color: #ea4c89;
    }

    &.social-behance:hover {
        color: #1769ff;
    }

    &.social-github:hover {
        color: #4183c4;
    }

    &.social-linkedin-1:hover {
        color: #0077b5;
    }



    /*
    &::after {
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #bbb;
        content: attr(title);
        color: white;
        width: 500px;
        font-size: 13px;
        text-align: center;
        border-radius: 2px;
        padding: 5px 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-out;
    }


    &:hover {
        color: rgba(black,.3);

        &::after {
            opacity: 1;
        }
    }
    */


}



/*------------------------------------*\
    states
\*------------------------------------*/




/*------------------------------------*\
    media-queries
\*------------------------------------*/


