/*------------------------------------*\
    styles
\*------------------------------------*/
.pbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
}


.pbar__fill {
    background-color: gray;
    display: block;
    height: 100%;
    width: 0;
}




/*------------------------------------*\
    states
\*------------------------------------*/




/*------------------------------------*\
    media-queries
\*------------------------------------*/


