/*------------------------------------*\
    block:
\*------------------------------------*/

$project-bg-color: rgb(245,245,245);


.project.project {
    margin: 0 0 30px 0;
    display: block;
    width: 100%;
    background-color: $project-bg-color;
    border-radius: 3px;
    background-size: 200px;
    background-position: 120% 20%;
    position: relative;
    overflow: hidden;
    padding-bottom: 1px;
    //border: 1px solid rgb(240,240,240);
    &:last-of-type {
        margin-bottom: 0;
    }
}


.project--joinapp {
    background-size: 20% 50%;
    background-position: 120% 10%;
}

.project__foreground {
    position: relative;
    z-index: 2;
    padding: 20px 200px 13px 25px;
    overflow: hidden;
}


.project__title.project__title {
    margin: 0;
    position: relative;
    z-index: 3;

}

.project__desc.project__desc {
    margin: 0;
    margin-top: 5px;
    position: relative;
    z-index: 4;
}


.project__link-wrapper {
    //background-color: $project-bg-color;
    background-color: rgba(white,.5);
    display: block;
    //border-top: 1px solid rgba(black,.04);
    padding: 2px 0 5px 25px;
    //margin-right: 200px;
    position: relative;
    z-index: 1;
    margin-top: 1px;
    //&::before {
    //    content: '';
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    display: block;
    //    height: 1px;
    //    background-image: linear-gradient( to left, transparent, rgba(253,253,253,.8) 50% );
    //}
}

.project__link.project__link {

    position: relative;
    z-index: 1;

    color: rgba(black,.5);
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-top: 5px;
    text-shadow: none;
    &::before {
        display: none;
    }

    transition: color 200ms ease-out;

    &:hover {
        color: rgba(black,.7);
    }

    //text-shadow: -1px -1px 0 #F6F6F6,
    //              1px  1px 0 #F6F6F6,
    //              1px -1px 0 #F6F6F6,
    //             -1px  1px 0 #F6F6F6;
    //&::before {
    //    bottom: 3px;
    //}
}

.project__link--coming-soon.project__link--coming-soon {

    &::after {
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        content: "Coming Soon™";
        color: white;
        width: 110px;
        font-size: 13px;
        text-align: center;
        border-radius: 2px;
        padding: 3px 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-out;
    }

    color: rgba(black,.3);

    &:hover {
        color: rgba(black,.3);

        &::after {
            opacity: .5;
        }
    }

}





.project__image {
    position: absolute;
    z-index: 2;
    height: auto;
    width: auto;
}
.project__background {
    position: absolute;
    z-index: 0;
    height: auto;
    width: auto;
}



/*------------------------------------*\
    states
\*------------------------------------*/

.project--enboard {

    .project__image {
        bottom: 0;
        right: -40px;
        width: 220px;
        box-shadow: 0 5px 20px 0 rgba(black,.2);
    }

    .project__background {
        top: -10%;
        left: -25%;
        width: 200%;
        filter: blur(10px);
        opacity: .1;
    }
}


.project--joinapp {

    .project__image {
        top: 20px;
        right: -10px;
        height: 200px;
        box-shadow: 0 25px 20px 0 rgba(black,.2), 15px 0px 25px 0 rgba(black,.15);
    }

    .project__background {
        top: -145%;
        left: -45%;
        height: 500%;
        filter: blur(4px);
        opacity: .1;
    }



}


/*------------------------------------*\
    media-queries
\*------------------------------------*/






@media screen and (max-width: 1000px) {


    .project--enboard {

        .project__image {
            top: 20px;
            bottom: none;
        }

    }


}


@media screen and (max-width: 500px) {


    .project {
        background-image: none !important;
    }

    .project__foreground {
        padding-right: 20px;
        padding-left: 20px;
    }

    .project__link-wrapper {
        padding-left: 20px;
        margin-right: 0;
    }

    .project__image {
        display: none;
    }


}

