/*------------------------------------*\
    block:
\*------------------------------------*/

.project.project {
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    background-color: rgba(black,.03);
    border-radius: 3px;
    padding: 20px 200px 20px 25px;
    background-size: 200px;
    background-position: 150% 50%;
}

.project__title.project__title {
    margin: 0;

}

.project__desc.project__desc {
    margin: 0;
    margin-top: 5px;
}

.project__link.project__link {
    color: rgba(black,.6);
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-top: 5px;



    text-shadow: -1px -1px 0 #F6F6F6,
                  1px  1px 0 #F6F6F6,
                  1px -1px 0 #F6F6F6,
                 -1px  1px 0 #F6F6F6;
    &::before {
        bottom: 3px;
    }
}


/*------------------------------------*\
    states
\*------------------------------------*/



/*------------------------------------*\
    media-queries
\*------------------------------------*/


