/*------------------------------------*\
    block:
\*------------------------------------*/

.project.project {
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 3px;
    padding: 20px 200px 20px 25px;
    background-size: 200px;
    background-position: 120% 50%;
    position: relative;
    overflow: hidden;
    //border: 1px solid rgb(240,240,240);
}

.project__title.project__title {
    margin: 0;

}

.project__desc.project__desc {
    margin: 0;
    margin-top: 5px;
}

.project__link.project__link {
    color: rgba(black,.6);
    font-size: 16px;
    margin: 0;
    display: inline-block;
    margin-top: 5px;



    text-shadow: -1px -1px 0 #F6F6F6,
                  1px  1px 0 #F6F6F6,
                  1px -1px 0 #F6F6F6,
                 -1px  1px 0 #F6F6F6;
    &::before {
        bottom: 3px;
    }
}

.project__foreground {
    position: relative;
    z-index: 2;
}

.project__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: auto;
    filter: blur(10px);
    z-index: 1;
    opacity: .1;
}


/*------------------------------------*\
    states
\*------------------------------------*/



/*------------------------------------*\
    media-queries
\*------------------------------------*/


